body{
    background-color: whitesmoke;
    background-image: url(../gestion_eleves/png/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position-x:98%;
    background-position-y:3%;
}
input,select{
    width: 40%;
    height: 5%;
    border: 1px;
    border-radius: 0.5px;
    padding: 8px 15px 8px 15px;
    margin: 10px Opx 15px Opx;
    box-shadow: 1px 1px 2px 1px grey;
}